@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;
.container {
  padding-left: 1.5rem;
  position: relative;
  display: flex;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
  min-height: 200px;

  @include Mobile {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  @include Tablet {
    width: 75%;
  }
  @include Laptop {
    width: 75%;
  }
  @include LaptopL {
    width: 65%;
  }
  .containerContent {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .role {
    font-size: 20px;
    font-weight: 600;
    color: #8d97ac;

    @include LaptopL {
      font-size: 31px;
      line-height: 37px;
    }
    @include Desktop {
      font-size: 40px;
      line-height: 42px;
    }
  }
  .companyPeriod {
    color: $textContent;
    width: 150px;
    max-width: 200px;
    min-width: 80px;
    overflow-wrap: break-word;
    word-break: break-word;
    text-wrap: balance;
    text-wrap-style: auto;
    margin-right: 20px;
    line-height: 25px;

    @include Mobile {
      margin-right: 0;
    }
    @include LaptopL {
      font-size: 24px;
      line-height: 37px;
    }
    @include Desktop {
      font-size: 1.6rem;
      line-height: 35px;
    }
  }
  .description {
    margin-top: 0.5rem;
    color: $textContent;
    @include LaptopL {
      font-size: 24px;
      line-height: 37px;
    }
    @include Desktop {
      font-size: 2rem;
      line-height: 42px;
    }
  }

  &:hover {
    --skill-bg: #{$skillBgHover};
    --skill-color: #{$hoverColor};
    border-radius: 10px;
    background-color: $bgHoverExperience;
    .role {
      color: $hoverColor;
    }
    .companyPeriod {
      color: $textContentHover;
    }
    .description {
      color: $textContentHover;
    }
  }
}
