@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;
.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 1rem;
  .skillItem {
    color: var(--skill-color);
    background-color: var(--skill-bg);
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      color: $hoverColor;
      background-color: $skillBgHover;
    }
    @include LaptopL {
      font-size: 17px;
      padding-bottom: 8px;
      padding-top: 8px;
      padding-left: 13px;
      padding-right: 13px;
    }
    @include Desktop {
      font-size: 24px;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
