$bgPage: #0e1629;
$hoverColor: #93d3e9;
$textColor: #8d97ac;
$textWhite: #ffffffc5;

$textContent: #747b8e;
$textContentHover: #909bb9;

$skillColor: rgba(147, 212, 233, 0.779);
$skillBgHover: #072e45;
$skillBg: #072e459d;

$bgHoverExperience: #162341;
