@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;
.container {
  min-height: 100vh;
  padding-inline: 1.5rem;
  padding-block: 5rem;

  .title {
    font-size: 30px;
    font-weight: 700;
    color: $textWhite;
    margin-bottom: 1.5rem;

    @include LaptopL {
      font-size: 40px;
      line-height: 37px;
    }
  }
}
