@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;
.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 16rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include Mobile {
    display: none;
  }
  @include Laptop {
    width: 15rem;
  }
  @include LaptopL {
    width: 19rem;
  }
  .userInfo {
    padding-top: 1.5rem;
    .userName {
      font-size: 1.5rem;
      font-weight: bold;
      color: $textWhite;
      @include LaptopL {
        font-size: 2.5rem;
      }
    }
    .roleUser {
      margin-top: 0.5rem;
      color: $textWhite;

      @include LaptopL {
        font-size: 1.3rem;
      }
    }

    .description {
      margin-top: 0.5rem;
      color: $textColor;

      @include LaptopL {
        font-size: 1.3rem;
      }
    }
    .navLinks {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .navItem {
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
          .dividerActive {
            height: 2px;
            width: 35px;
            background-color: $textWhite;
            border: none;
          }
          .divider {
            height: 2px;
            width: 35px;
            background-color: $textWhite;
            border: none;
          }
          .navLink {
            color: $textWhite;
          }
        }
        .divider {
          height: 2px;
          width: 25px;
          background-color: $textColor;
          border: none;
          @include LaptopL {
            width: 40px;
          }
        }
        .dividerActive {
          height: 2px;
          width: 35px;
          background-color: $textWhite;
          border: none;
          @include LaptopL {
            width: 55px;
          }
        }
        .navLink {
          display: block;
          color: $textColor;
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          transition: background-color 0.3s;
          @include LaptopL {
            font-size: 1.2rem;
          }
        }
      }

      .navLinkActive {
        display: block;
        color: $textWhite;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        margin-left: 0.1rem;

        @include LaptopL {
          font-size: 1.3rem;
        }
        &:hover {
          color: $textContentHover;
        }
      }
    }
  }

  .networkLinks {
    padding-bottom: 1.5rem;
    display: flex;
    gap: 1rem;

    @include Tablet {
      gap: 1.5rem;
    }
    @include Laptop {
      gap: 2rem;
    }
    @include LaptopL {
      gap: 3rem;
    }
    .networkIcon {
      width: 24px;
      height: 24px;

      @include LaptopL {
        width: 28px;
        height: 28px;
      }
    }
  }
}
