@use "../../styles/variables" as *;
.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 16rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .userName {
    font-size: 1.5rem;
    font-weight: bold;
    color: $textWhite;
  }
  .roleUser {
    margin-top: 0.5rem;
    color: $textWhite;
  }

  .navLinks {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .navItem {
      display: flex;
      align-items: center;
      gap: 10px;

      .divider {
        height: 2px;
        width: 25px;
        background-color: $textColor;
      }
      .dividerActive {
        height: 2px;
        width: 35px;
        background-color: $textWhite;
      }
      .navLink {
        display: block;
        color: $textColor;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        transition: background-color 0.3s;

        &:hover {
          color: $textContentHover;
        }
      }
    }

    .navLinkActive {
      display: block;
      color: $textWhite;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      margin-left: 0.1rem;
      transition: background-color 0.3s;

      &:hover {
        color: $textContentHover;
      }
    }
  }

  .networkLinks {
    display: flex;
    gap: 1rem;
  }
}
