@use "../../styles/abstracts/mixins" as *;

.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  padding-right: 2rem;

  @include Mobile {
    align-items: center;
    padding-right: 0;
  }
}
